@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216.9 0% 95%;
    --foreground: 216.9 0% 10%;
    --card: 216.9 0% 90%;
    --card-foreground: 216.9 0% 15%;
    --popover: 216.9 0% 95%;
    --popover-foreground: 216.9 95% 10%;
    --primary: 216.9 19.1% 26.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216.9 10% 83%;
    --secondary-foreground: 0 0% 0%;
    --muted: 178.9 10% 85%;
    --muted-foreground: 216.9 0% 40%;
    --accent: 178.9 10% 83%;
    --accent-foreground: 216.9 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 216.9 0% 90%;
    --border: 216.9 20% 82%;
    --input: 216.9 20% 50%;
    --ring: 216.9 19.1% 26.7%;
    --radius: 0rem;
  }
  .dark {
    --background: 216.9 10% 10%;
    --foreground: 216.9 0% 90%;
    --card: 216.9 0% 10%;
    --card-foreground: 216.9 0% 90%;
    --popover: 216.9 10% 5%;
    --popover-foreground: 216.9 0% 90%;
    --primary: 216.9 19.1% 26.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216.9 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 178.9 10% 25%;
    --muted-foreground: 216.9 0% 60%;
    --accent: 178.9 10% 25%;
    --accent-foreground: 216.9 0% 90%;
    --destructive: 0 50% 42%;
    --destructive-foreground: 216.9 0% 90%;
    --border: 216.9 20% 42%;
    --input: 216.9 20% 42%;
    --ring: 216.9 19.1% 26.7%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
